<mat-toolbar color="primary">
    
    <span>Todo App</span>
    <span class="example-spacer"></span>
    <section>
        <div class="example-button-row">
        <button mat-raised-button color="warn"routerLink="/todo-list" routerLinkActive="active">Todo List</button>
        <button mat-raised-button color="warn"routerLink="/todo-details" routerLinkActive="active">Todo Details</button>
    </div>
    </section>
    
  </mat-toolbar>

<app-employee-create></app-employee-create>
<router-outlet></router-outlet>